In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
diamonds = pd.read_csv('diamonds.csv')

In [24]:
diamonds.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [25]:
mean = diamonds['price'].mean()
diamonds['price_predicted']= mean

In [26]:
from sklearn.metrics import r2_score, mean_squared_error
r2_score(diamonds.price,diamonds.price_predicted)

0.0

In [27]:
mean_squared_error(diamonds.price,diamonds.price_predicted)

15914459.460838739

In [28]:
rick_diamonds = pd.read_csv('rick_diamonds.csv')
rick_diamonds.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.91  Very Good     H     SI2   63.4   57.0  6.10  6.18  3.89
1   0.38       Good     F     VS2   60.3   61.0  4.68  4.71  2.83
2   0.52      Ideal     H     VS2   61.8   56.0  5.19  5.16  3.20
3   1.10      Ideal     G     VS1   61.3   56.0  6.65  6.69  4.09
4   2.28      Ideal     G     SI2   61.6   57.0  8.44  8.37  5.18

In [29]:
rick_diamonds['price_predicted'] = mean
rick_diamonds.head()

,carat,cut,color,clarity,depth,table,x,y,z,price_predicted
0,0.91,Very Good,H,SI2,63.4,57.0,6.10,6.18,3.89,3934.409644
1,0.38,Good,F,VS2,60.3,61.0,4.68,4.71,2.83,3934.409644
2,0.52,Ideal,H,VS2,61.8,56.0,5.19,5.16,3.20,3934.409644
3,1.10,Ideal,G,VS1,61.3,56.0,6.65,6.69,4.09,3934.409644
4,2.28,Ideal,G,SI2,61.6,57.0,8.44,8.37,5.18,3934.409644

In [34]:
rick_diamonds.to_csv('./Deliverables/rick_diamonds_mean_15914459.csv')